absl-py==2.3.1
arm-pyart==1.14.5
astunparse==1.6.3
av==12.3.0
boto3==1.37.38
botocore==1.37.38
certifi==2026.6.17
cffi==1.17.1
cftime==1.6.4.post1
charset-normalizer==3.4.7
contourpy==1.1.1
cryptography==45.0.7
cycler==0.12.1
flatbuffers==25.12.19
fonttools==4.57.0
freetype-py==2.5.1
fsspec==2025.3.0
gast==0.4.0
google-auth==2.50.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpxpy==1.6.2
grpcio==1.70.0
h5py==3.11.0
hsluv==5.0.4
idna==3.15
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
jmespath==1.0.1
keras==2.13.1
kiwisolver==1.4.7
libclang==18.1.1
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
netCDF4==1.6.5
nexradaws==2.0.0
numpy==1.24.3
oauthlib==3.3.1
opencv-python==5.0.0.93
opt_einsum==3.4.0
packaging==26.2
pandas==2.0.3
pillow==10.4.0
platformdirs==4.3.6
pooch==1.8.2
protobuf==4.25.9
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==2.23
PyOpenGL==3.1.10
pyparsing==3.1.4
pyperclip==1.11.0
pyproj==3.5.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyshp==2.4.2
python-dateutil==2.9.0.post0
pytz==2026.2
requests==2.32.4
requests-oauthlib==2.0.0
s3fs==0.4.2
s3transfer==0.11.5
scipy==1.10.1
six==1.17.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow-cpu==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
typing_extensions==4.5.0
tzdata==2026.2
Unidecode==1.4.0
urllib3==1.26.20
vispy==0.14.1
Werkzeug==3.0.6
wrapt==2.0.1
xarray==2023.1.0
xmltodict==0.15.0
zipp==3.20.2
